body{
    background-color: #e1f2fa;
}

h1{
    font-family: "游ゴシック体";
    font-size: 24px;
}

h2{
    font-family: "游ゴシック体";
    font-size: 18px;
    color: gray;
}

.box1{
    width: 400px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 10px;
}
.box2{
    width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

.selectbox{
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    gap: 10px;
    display: flex;
    text-align: center;
}

.selectbox_txt{
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    gap: 10px;
    display: flex;
    text-align: center;
}

.radio{
    width: 40px;
}

.choice{
    font-size: 10px;
}
.comment{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
.comment_txt{
    width: 380px;
}
.submit{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}

.submit_txt{
    width: 60px;
    border: none;
    background-color: skyblue;
    border-radius: 5px;
    font-family: "游ゴシック体";
}